@function make-breakpoint-class-infix($breakpoint-name, $breakpoint-value) {
  $breakpoint-class-infix: if(
    $breakpoint-value != null,
    "#{$breakpoint-name}\\:",
    ""
  );

  @return $breakpoint-class-infix;
}

@function get-zero-value-breakpoint($breakpoints) {
  $zero-value-breakpoint: nth($breakpoints, 1);
  $breakpoint-value: nth($zero-value-breakpoint, 2);

  @if $breakpoint-value == null or strip-unit($breakpoint-value) == 0 {
    @return $zero-value-breakpoint;
  }

  @return null;
}
